body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #f4eee0;
  font-weight: 100px;
  margin-bottom: 0;
}

li.first-letter {
  text-transform: capitalize;
}

.row {
  display: flex;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #393646;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.weather-details {
  text-align: right;
}

.weather-details #date {
  font-size: 20px;
}

.overview {
  margin-bottom: 20px;
  color: #f4eee0;
}

.weather-temperature img {
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}

.weather-temperature {
  color: #f4eee0;
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 70px;
  text-align: center;
  font-size: 16px;
  height: 13px;
  color: #878787;
}

.forecast-date {
  color: #f4eee0;
  font-size: 16px;
}

.forecast-temp-max {
  color: #f4eee0;
  font-size: 13px;
}

.forecast-temp-min {
  font-size: 13px;
  opacity: 0.8;
  color: #f4eee0;
}

#celcius {
  font-size: 16px;
  font-weight: normal;
  color: #f4eee0;
  position: relative;
}

#city {
  font-size: 22px;
  font-weight: semi-bold;
  color: #f4eee0;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

#forecast-day {
  padding: 0;
}

#forecast-day .active:hover {
  border: 1px solid #6d5d6e;
  border-radius: 5px;
}

#conditions {
  color: #f4eee0;
  text-transform: capitalize;
}

#strong-temp {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  font-size: 64px;
  line-height: 1;
}
